<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>The Oranje Academy</title>
    <link
      rel="shortcut icon"
      href="../images/TheOranjeAcademyLogo1.png"
      type="image/x-icon"
      style="width: 100%; height: 100%"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/since.css" />
  </head>
  <body>
    <!-- top div with rotating background and oranje academy logo -->
    <div id="div-1">
      <img id="logo-img" src="../images/FCLogo.png" alt="logo" />
    </div>

    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" id="nav">
      <a class="navbar-brand" href="#">THE ORANJE FOOTBALL CLUB</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">ACADEMY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./OranjeFc.html">CLUB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FOUNDATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../index.html#div-10">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- div-2 -->
    <div id="div-2">
      <div class="div-2-1">
        <img src="../images/FC/since/2017.jpeg" alt="image1 " />
        <div class="div-2-11">
          <hr />
          <h2>EST. 2017</h2>
          <p>
            Our aim is to provide India, with football players of the highest
            calibre who can represent us, all across the world and promote
            football as a career choice while increasing the popularity of the
            sport and quality of football in India.
          </p>
        </div>
      </div>
      <div class="div-2-2">
        <div class="div-2-21">
          <hr />
          <h2>2018 MAIDEN YEAR</h2>
          <p>
            The Oranje as the name suggests seeks inspiration from the Dutch
            football team and more specifically the Dutch philosophy of Total
            football. The way football has evolved over the years, clearly shows
            the importance of skill and technique over physical play and
            endurance. Football has various styles and tactics involved and each
            way has its merits and is the right way.
          </p>
        </div>
        <img src="../images/FC/since/2018.jpeg" alt="image1 " />
      </div>
      <div class="div-2-1">
        <img src="../images/FC/since/2019_1.jpeg" alt="image1 " />
        <div class="div-2-11">
          <hr />
          <h2>2019 MULTIPLE TEAMS</h2>
          <p>
            Our aim is to provide India, with football players of the highest
            calibre who can represent us, all across the world and promote
            football as a career choice while increasing the probability of the
            sport and quality of football in India.
          </p>
        </div>
      </div>
      <div class="div-2-2">
        <div class="div-2-21">
          <hr />
          <h2>2020 PANDEMIC STRIKES</h2>
          <p>
            We at 'The Oranje' believe we can help kids play football in a more
            enjoyable, productive and efficient way that will change their
            outlook towards football coaching and help them realize their dream
            through proper coaching and guidance. There are basically three
            stages in football as a child develops. A technical stage, a
            tactical stage, and an information stage.
          </p>
        </div>
        <img src="../images/FC/since/20201.jpeg" alt="image1 " />
      </div>
      <div class="div-2-1">
        <img src="../images/FC/since/2021.png" alt="image1 " />
        <div class="div-2-11">
          <hr />
          <h2>2021 SPL, CCL & U20 YC</h2>
          <p>
            Our aim is to provide India, with football players of the highest
            calibre who can represent us, all across the world and promote
            football as a career choice while increasing the probability of the
            sport and quality of football in India.
          </p>
        </div>
      </div>
    </div>
    <!-- div-11 -->
    <div id="div-11">©The Oranje Academy 2021. All rights reserved.</div>
    <!-- Scripts -->
    <script src="../javascript/fcBgSs.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

